<%- include('partials/html-head', {
    title: "Salty Chart: " +artist.title,
    styles: [
        "themes/main", 
        "utils/fonts",
        "utils/misc",
        "artist-page",
        "components/header-menu"
    ]
}); %>

<body>
    <%- include('partials/header-menu'); %>
    <div class="artist-page-top">
        <div class="artist-header">
            <img class="artist-img" src=<%="/img/artists/" + artist.techName + ".jpg" %>
            onerror="this.onerror=null; this.src='/img/artists/placeholder.jpg';"/>
            <div class="artist-info">
                <% if (!artist.isBand) {%>
                    <h3 class="artist-type">Artist</h3>
                <% } else {%>
                    <h3 class="artist-type">Band</h3>
                <% } %>
                <h1 class="artist-title">
                    <%= artist.title %>
                </h1>
                <% if (aka_raw.length> 0) {%>
                    <h3 class="artist-type members-title">a.k.a.:</h3>
                    <div class="band-container">
                        <% aka_raw.forEach((aka)=> { %>
                            <span class="band-block"><%- aka.title %></span>
                        <% }); %>
                    </div>
                <% } %>
                <% if (band_link.length> 0) {%>
                    <% if (!artist.isBand) {%>
                        <h3 class="artist-type members-title">Member of:</h3>
                        <div class="band-container">
                            <% band_link.forEach((band)=> { %>
                                <span class="band-block">
                                    <a href=<%- band.band_tech %>>
                                        <%- band.band_title %>
                                    </a>
                                </span>
                            <% }); %>
                        </div>
                    <% } else {%>
                        <h3 class="artist-type members-title">Members:</h3>
                        <div class="band-container">
                            <% band_link.forEach((band)=> { %>
                                <span class="band-block">
                                    <a href=<%-band.band_tech %>>
                                        <%-band.band_title %>
                                    </a>
                                </span>
                            <% }); %>
                        </div>
                    <% } %>
                <% } %>
            </div>
            </div>
                <div class="artist-stats">
                    <%- include('partials/artist-page/artist-stat-box', {
                        value: stats.no1_amount,
                        sign: "#1 Hits"
                    }); %>
                    <%- include('partials/artist-page/artist-stat-box', {
                        value: stats.top3_amount,
                        sign: "Top-3 Hits"
                    }); %>
                    <%- include('partials/artist-page/artist-stat-box', {
                        value: stats.full_len,
                        sign: "Songs"
                    }); %>
                </div>
            </div>
            <div class="table-header">
                <% if (stats.full_len> 0) { %>
                    <div class="narrow-page-box">
                        <div class="table-header-texts">
                            <% if (locals.isAdmin) { %>
                                <form id='form'>
                                    <input id='single-file' type="file" accept=".jpg, .jpeg">
                                    <button class="submit-btn" type='submit'>
                                        Add Image
                                    </button>
                                </form>
                            <% } %>
                            <div class="table-header-text-block"><span>Debut date</span></div>
                            <div class="table-header-text-block-2"><span>Days on chart</span></div>
                            <div class="table-header-text-block-2"><span>Peak position</span></div>
                            <div class="table-header-text-block"><span>Peak date</span></div>
                            <div class="table-header-text-block-2"><span>Points</span></div>
                        </div>
                    </div>
                    <% } %>
    </div>
    <div class="narrow-page-box">
        <div class="chart-track-box">
            <% tracks.forEach((track)=> { %>
                <% if (track.days> 0) { %>
                    <%- include('partials/artist-page/track-entry', {track: track}); %>
                <% } %>
            <% }); %>
        </div>
    </div>
</body>
<script>
    const form = document.getElementById("form");

    form.addEventListener("submit", submitForm);

    function submitForm(e) {
        e.preventDefault();
        const newName = "<%- artist.techName %>";
        const formData = new FormData();
        const singleFile = document.getElementById("single-file")
        formData.append("singleFile", singleFile.files[0], newName)

        fetch("/api/uploadartist", {
            method: 'POST',
            body: formData
        })
        .then((res) => console.log(res))
        .catch((err) => console.log("Error occured", err));
    }
</script>

</html>