<%- include('partials/html-head', {
    title: "Salty Chart Worldwide: Artists",
    styles: [
        "themes/main", 
        "utils/fonts",
        "utils/misc",
        "artists-hub",
        "artist-page",
        "components/header-menu",
        "components/pagination",
        "components/artists-hub/menu-drop",
        "components/artists-hub/artist-entry"
    ]
}); %>

    <body>
        <%- include('partials/header-menu'); %>
            <div class="narrow-page-box">
                <div class="head-padding artist-hub-header">
                    <h1 class="page-title">Artists</h1>
                    <%- include('partials/artists-hub/menu-drop')%>
                </div>
                <div class="artists-hub-container">
                    <% artists_new.forEach((track)=> { %>
                        <%- include('partials/artists-hub/artist-entry', {artist: track}); %>
                    <% }); %>
                </div>
                <% const baseurl = (sort === "alphabet" ? "?sort=alphabet&page=" : "?page=") %>
                <%- include('partials/pagination', {
                    baseurl: baseurl,
                    page: page,
                    max_pages: artists_pages_new
                }); %>
            </div>
    </body>
    <script>
        const menu = document.getElementById("menuDrop");
        const menu_head = document.getElementById("menuHead");
        const menu_drop = document.getElementById("sortDrop");
        menu_head.onclick = function () {
            if (menu_drop.classList.contains('over')) {
                menu_drop.classList.remove('over');
            }
            else {
                menu_drop.classList.add('over');
            }
        };
        menu.onmouseleave = function () {
            menu_drop.classList.remove('over');
        };
    </script>

    </html>