<%- include('partials/header', {title: "Salty Chart Worldwide: Исполнители" }); %>

    <body>
        <%- include('partials/header-menu'); %>
            <div class="chart-box">
                <div class="chart-header artist-hub-header">
                    <h1 class="page-title">Artists</h1>
                    <div class="menu-drop noselect" id="menuDrop">
                        <div class="menu-drop-head " id="menuHead">
                            <% if (sort !="alphabet" ) {%>
                                By date added
                                <% } else {%>
                                    In alphabetical order
                                    <% }%>
                        </div>
                        <ul class="menu-drop-btns" id="sortDrop">
                            <li><a href="/artists" <% if (sort !="alphabet" ) {%>class="activated"<% }%>>By date
                                        added</a></li>
                            <li><a href="/artists?sort=alphabet" <% if (sort=="alphabet" ) {%>class="activated"<% }%>>In
                                        alphabetical order</a></li>
                        </ul>
                    </div>
                </div>
                <div class="artists-hub-container">
                    <% artists.forEach((track)=> { %>
                        <%- include('partials/artist-entry', {artist: track}); %>
                            <% }); %>
                </div>
                <nav aria-label="pagination" class="pagination-box noselect">
                    <ul class="pagination">
                        <% if (artists_pages.prevPage !=null) { %>
                            <li>
                                <a <% if (sort !="alphabet" ) {%>
                                    href=<%= "?page=" +artists_pages.prevPage %>>
                                        <% } else {%>
                                            href=<%= "?sort=alphabet&page=" +artists_pages.prevPage %>>
                                                <% }%>
                                                    <span aria-hidden="true">&lt;</span>
                                                    <span class="visuallyhidden">previous set of pages</span>
                                </a>
                            </li>
                            <% } %>
                                <% let isThreeDots=false; %>
                                    <% for (let i=1; i <=artists_pages.lastPage; i++) { %>
                                        <% if (i==1 || i==artists_pages.lastPage || (i>=
                                            parseInt(artists_pages.currentPage)-2 && i <=
                                                parseInt(artists_pages.currentPage)+2)) { %>
                                                <li>
                                                    <a <% if (sort !="alphabet" ) {%>
                                                        href=<%= "?page=" +i %>
                                                            <% } else {%>
                                                                href=<%= "?sort=alphabet&page=" +i %>
                                                                    <% }%>
                                                                        <% if (artists_pages.currentPage==i) { %>
                                                                            aria-current="page"<% } %>>
                                                                                <span class="visuallyhidden">page
                                                                                </span><%- i %>
                                                    </a>
                                                </li>
                                                <% isThreeDots=false; %>
                                                    <% } else if (!isThreeDots) { %>
                                                        <li><a><span aria-hidden="true">...</span></a></li>
                                                        <% isThreeDots=true; %>
                                                            <% } %>
                                                                <% } %>
                                                                    <% if (artists_pages.nextPage !=null) { %>
                                                                        <li>
                                                                            <a <% if (sort !="alphabet" ) {%>
                                                                                href=<%= "?page="
                                                                                    +(artists_pages.prevPage+2) %>>
                                                                                    <% } else {%>
                                                                                        href=<%= "?sort=alphabet&page="
                                                                                            +(artists_pages.prevPage+2)
                                                                                            %>>
                                                                                            <% }%>
                                                                                                <span
                                                                                                    class="visuallyhidden">next
                                                                                                    set of
                                                                                                    pages</span><span
                                                                                                    aria-hidden="true">&gt;</span>
                                                                            </a>
                                                                        </li>
                                                                        <% } %>
                    </ul>
                </nav>
            </div>
    </body>
    <script>
        const menu = document.getElementById("menuDrop");
        const menu_head = document.getElementById("menuHead");
        const menu_drop = document.getElementById("sortDrop");
        menu_head.onclick = function () {
            if (menu_drop.classList.contains('over')) {
                menu_drop.classList.remove('over');
            }
            else {
                menu_drop.classList.add('over');
            }
        };
        menu.onmouseleave = function () {
            menu_drop.classList.remove('over');
        };
    </script>

    </html>